* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

ul {
  list-style: none;
}

.form-todo {
  width: 50vw;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: 1px solid #000;
}
.form-todo-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 32px;
}

.form-todo-title {
  width: 100%;
  height: 40px;
}
.form-todo-description {
  width: 100%;
}
.form-todo-sabmit {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
}
/* Filter */

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 48px;
}
.filter-title {
  width: 80%;
  height: 40px;
}

/* list */

.list {
  padding: 20px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.list-item {
  padding: 10px;
  width: calc(100%-60px) / 3;
  border: 1px solid #000;
}
.list-item-title {
  margin-bottom: 10px;
}
.list-item-description {
}
